@model IEnumerable<HealthManager.Models.DTO.PatientAppointmentsViewModel>
@{
    ViewData["Title"] = "My Appointments";
    Layout = "_PatientDashboard";

}



<section class="d-flex w-100 h-auto justify-content-center align-items-center">
    @if (!Model.Any())
    {
        <article class="w-100 p-4">
            <h4 class="text-center">You don't have any appointments</h4>
        </article>
    }
    else 
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Specialty</th>
                    <th>Doctor</th>
                    <th>Day</th>
                    <th>Hour</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var appointment in Model)
                {
                    <tr>
                        <td>@appointment.DoctorSpecialty</td>
                        <td>@appointment.DoctorName</td>
                        <td>@appointment.AppointmentDate</td>
                        <td>@appointment.AppointmentHour</td>
                        <td><button type="button" data-id="@appointment.AppointmentId" data-bs-toggle="modal" data-bs-target="#cancel-modal" class="btn btn-danger">Cancel</button></td>
                    </tr> 
                
                }
            </tbody>
        </table>
           
    }     
</section>

<div id="cancel-modal" class="modal fade" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
           
                <div class="modal-header">
                    <h3>Cancel Appointment</h3>
                </div>
                <div class="modal-body">
                    <p>¿Do you want to cancel the appointment?</p>
                    <p>You'll have to reserve a new appointment, there's no way to recover this appointment if you cancel it.</p>
                </div>
                <div class="d-flex justify-content-start w-100 modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close Modal</button>
                <button id="cancel-appointment-button" class="btn btn-primary">Cancel Appointment</button>
                </div>
            
        </div>
    </div>
</div>
<div id="result-modal" class="modal fade" tabindex="-1">
    <article class=" flex flex-column justify-content-center align-items-center">
        <div class="modal-header">
            <h3>Appointment could not be canceled</h3>
        </div>
        <div class="modal-body">
            <p>@ViewBag.cancel-appointment-error</p>
        </div>
        <div class="d-flex justify-content-center modal-footer">
            <button class="btn-close" data-bs-dismiss="modal">Close Modal</button>
        </div>
    </article>
</div>

    @section Scripts
    {
        <script>
            $(document).ready(function(){

                var appointmentId;

                $('#cancel-modal').on('show.bs.modal', function (e) {

                    var triggerButton = $(e.relatedTarget);
                    appointmentId = triggerButton.data('id');
                    $('#cancel-appointment-button').data('id', appointmentId);
                });
                
                $("#cancel-appointment-button").click(function(){

                    let appointmentguid = appointmentId;

                    $.ajax({
                        url: '@Url.Action("CancelAppointment", "PatientDashboard")',
                            type: "POST",
                            data: {appointmentId: appointmentguid},
                            success: function(response){
                                    if (response.success) {
                                        $("#cancel-modal").modal('hide');
                                        window.location.reload()
                                    }
                                
                            }
                    })
                })
            })
        </script>
    }
