@model System.Collections.Generic.List<HealthManager.Models.Appointment>

@{
    ViewBag.Title = "Appointments for today";
    Layout = "_DoctorDashboard";
}


    <section class="d-flex flex-column justify-content-start align-items-center w-100 h-100">
        @if (!Model.Any())
        {
           <p>There's no patients for today.</p>
        }
        else
        {
            <h2 class="fs-5 fw-bold">
                Patients for @{
                    string date = DateOnly.FromDateTime(DateTime.Now).ToString("dd/MM/yyyy");
                }
                @date
            </h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="col-2 col-lg-3">Hour</th>
                        <th class="col-5 col-lg-3">Patient Name</th>
                        <th class="col-2 col-lg-3">Age</th>
                        <th class="col-3"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var appointment in Model)
                    {
                        <tr>
                        <td class="col-2 col-lg-3">@appointment.AppointmentHour</td>
                        <td class="col-5 col-lg-3">@appointment.Patient.Name @appointment.Patient.Surname</td>
                        <td class="col-2 col-lg-3">
                            @{
                                int patientYear = @DateTime.Now.Year - @appointment.Patient.BirthDate.Year;
                                }@patientYear
                            </td>
                        <td class="col-3 d-flex w-100 justify-content-end">
                                <a asp-controller="Doctor" asp-action="CreateRecord" asp-route-appointmentId="@appointment.AppointmentId" class="btn btn-primary">
                                    Medical Record
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </section>

